@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-image: url('https://cdn.pixabay.com/photo/2015/08/19/05/31/globe-895580_960_720.jpg');
  margin-top: 0%;
  padding: 0%;
  position: relative;
  width: 100%;
  height: 100%;
}

.title{
  font-family: "Passion One", sans-serif;
  font-size: 500%;
  font-weight: bold;
  color: #ffffffef;
  text-shadow: 8px 5px 8px #000000;
  margin-bottom: -10px;
  margin-top: 22px;
}

.btnReload {
  width: 99vw;
  height: 15vh;
  margin-top: -10px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button {
  border: 2px solid #9797947a; /*anchura, estilo y color borde*/
  padding: 1px 14px;
  color: rgba(252, 251, 251, 0.937);
  background: rgb(48, 76, 28);
  height: 33px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;  
  cursor: pointer;
  font-size: 15px;
  line-height: 1.1;
  border-radius: 6px;
  letter-spacing: 0.4px;
  box-shadow: 0 2px 25px #000000;
  }

.button:hover {
  color: #fff;
  background-color: #000000d3;
  box-shadow: 0 2px 25px #ffffff;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
} 

.create {
  width: 99vw;
  height: 15vh;
  margin-top: -50px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createButton {
  border: 2px solid #97979471; /*anchura, estilo y color borde*/
  padding: 1px 14px;
  color: rgba(252, 251, 251, 0.931);
  background: rgb(48, 76, 28);
  height: 33px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /*text-shadow: 2px 2px 2px #ffffff62;*/
  font-family: sans-serif;
  text-align: center;  
  cursor: pointer;
  font-size: 15px;
  line-height: 1.1;
  border-radius: 6px;
  /*border: transparent;*/
  letter-spacing: 0.4px;
  box-shadow: 0 2px 25px #000000;
}
.createButton:hover {
  color: #fff;
  background-color: #000000d8;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  box-shadow: 0 2px 25px #ffffff;
}
.createButton:active {
  box-shadow: none;
  transform: translateY(0);
} 

/* .filterCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  margin-bottom: -120px;
  border-radius: 6px;
} */
.selectBar {
  margin-top: 60px;
  line-height: 1px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 6px 30px 6px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #ffffffdf;
}
  
  /* 
  margin: 6px;
  margin-top: -50px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  background-position: bottom; */


.selectBar:hover {
  border: 2px solid #ffff01d2;
  background-color: #000000a7;
  color: rgb(235, 235, 235);
}
.selectBar:focus {
  border-color: #dee1e2;
  background: #eae9e8e4;
  color: rgb(0, 0, 0);
}
.selectBar option {
  margin-top: 100px;
  font-weight: bolder;             /*negrita*/
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
}

.loading {
  margin-top: 15px;
  font-family: cursive;
  color: #ffffff;
  text-align: center;  
}

.cardContainer {
  margin: auto;
  margin-top: 45px;
  display: flex;
  width: 1270px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}

.barra-footer {
  background-color: #FFFF01;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 20px;
}
