ul.pagination {
  display: inline-block;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color:#07053ad7;
  border-radius: 10px;
  cursor: pointer;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: rgba(255, 255, 255, 0.84);
  font-weight: bolder;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: beige;
  color: blueviolet;
}

ul.pagination li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.89);
  color: rgba(0, 0, 0, 0.904);
  border-radius: 10px;
}